{% extends "pages/page.html" %}

{% load mezzanine_tags event i18n %}

{% block main %}{{ block.super }}

<div style="float:right;">
	<a href='{{page.event|google_calendar_url}}' target="_blank" class="btn btn-small">
		{% trans "Add to" %} Google Calendar
	</a>
	<a href='{{page.event|icalendar_url}}' class="btn btn-small">
		{% trans "Add to" %} Outlook/iCal
	</a>
</div>

<p class='lead'>
        {% blocktrans with date=page.event.date|date start=page.event.start_time end=page.event.end_time %}{{date}} from {{start}} to {{end}}{% endblocktrans %}
</p>

<div class="row-fluid">
	<div class="span4">
		<b>{% trans "Address" %}</b>
		<address>
			{{page.event.location|linebreaksbr}}<br />
			<a href='{{page.event|google_nav_url}}' class="btn btn-small">
				{% trans "Get Directions" %}
			</a>
		</address>
	</div>
	<div class="span4">
		<b>{% trans "Speakers" %}</b>
		<address>
			<ul>
				{% for speaker in page.event.speakers_list %}
					<li>{{speaker}}</li>
				{% endfor %}
			</ul>
		</address>
	</div>
	<div class="span4">
		<b>{% trans "RSVP" %}</b>
		<p>
			{{page.event.rsvp|linebreaksbr|link_emails}}
		</p>
	</div>
</div>

{{page.event.content|richtext_filter|safe}}

{% google_static_map page.event 670 150 10 %}

{% endblock %}
